.orders-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.orders-form-filter{
    label{
        display: block;
    }
    input{
        padding: 0.5rem 0.6rem;
        font-family: $font;
        font-size: pxToRem(14);
    }
}

.orders-title{
    font-size: pxToRem(25);
    font-weight: 600;
}

.orders table{
    width: 100%;

    .table-orders-checkbox{
        text-align: center;
    }

    th{
        background-color: #b8d0ff;
        font-weight: 600;
        padding: 0.8rem;
        border: 1px solid black;
        text-align: left;
    }
    tbody{
        tr{
            &:nth-child(even){
                background-color: #e8e8e8;
            }
            &:hover{
                background-color: white;
            }
        }
        td{
            border: 1px solid black;
        }
        a{
            padding: 1rem;
            display: block;
            text-decoration: none;
            color: black;
        }
    }

    form{
        padding: 1rem;
        select{
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid;
            font-family: $font;
            font-weight: bold;
        }
        input{
            padding: 0.5rem;
            background-color: #b8d0ff;
            color: black;
            text-align: center;
            text-decoration: none;
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;
            box-sizing: border-box;
            width: 100px;
            margin-left: 1rem;
            font-family: $font;
            &:hover{
                background-color: #5d7ebe;
                color: white !important;
            }
        }
    }
}
