$font : 'Poppins', Verdana, Arial, Helvetica, sans-serif;

$font-size-base : 16;

.max-width{
    max-width: 1330px;
    margin: 0 auto;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@function pxToRem($value){
    @return $value/$font-size-base + rem;
}
