$font : 'Poppins', Verdana, Arial, Helvetica, sans-serif;

$font-size-base : 16;

$color-blue-light : #b8d0ff;
$color-blue-dark : #5d7ebe;

@function pxToRem($value){
    @return $value/$font-size-base + rem;
}

.max-width{
    max-width: 1330px;
    margin: 0 auto;
}

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.active-header-menu{
    background-color: $color-blue-light;
    border-radius: 5px;
}
.main-content{
    padding: 2rem
}

.password-action{
    position:relative;
    .password-action-showHide{
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url('/img/eye-password-show.svg');
        background-size: 100%;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .hide-password{
        background-image: url('/img/eye-password-hide.svg');
    }
}


