.register-wrapper{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.register-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 50%;
}

.login-toLogin{
    margin-bottom: pxToRem(40);
    font-size: pxToRem(18);
    a{
        font-weight: bold;
        color: #4d6492;
    }
}

.register-right{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url('./../img/register-background.jpg') ; /* W3C */
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    box-sizing: border-box;
    .register-intro{
        font-size: pxToRem(26);
        margin-bottom: pxToRem(20);
        span:first-child{
            display: block;
            font-size: pxToRem(20);
            text-transform: uppercase;
            letter-spacing: pxToRem(5);
            font-weight: 200;
            margin-bottom: pxToRem(10);
        }
        span+span{
            font-size: pxToRem(100);
            font-weight: bold;
        }
        color: white;
        &:after{
            content: "";
            display: block;
            width: 200px;
            height: 5px;
            background-color: white;
            margin-top: pxToRem(20);
        }
    }
    .register-info{
        color: white;
        font-size: pxToRem(20);
        margin-bottom: pxToRem(22);
        line-height: pxToRem(28);
    }
    .register-logo-HEPL{
        width: 300px;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }
}

.register-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: pxToRem(20);
}

.register-form{
    div:not(:last-child){
        margin-bottom: pxToRem(20);
    }
    label, input{
        display: block;
        font-size: pxToRem(20);
    }
    label{
        margin-bottom: pxToRem(3);
    }
    input{
        padding: pxToRem(9) pxToRem(10);
        width: 450px;
        box-sizing: border-box;
        border: 1px solid black;
        background-color: white;
        border-radius: pxToRem(3);
    }
    input[type=submit]{
        background-color: #536b99;
        color: white;
        cursor: pointer;
        margin-top: pxToRem(35);
        border: none;
    }
}

.register-error {
    color: #ac0000;
    font-weight: 600;
    display: block;
    margin-top: 0.2rem;
}
.register-input-error{
    border: 2px solid #ac0000 !important;
}
